<h1>Shopify Sinatra App</h1>

<h2>Install This App</h2>
<h2><small>This app requires you to login to start using it.</small></h2>

<form action="/login" method="post">
  <input type="url" name="shop" placeholder="Shop URL">
  <input type="submit" value="Install App" />
</form>
