version: 2.1
orbs:
  ruby: circleci/ruby@2.0.0

jobs:
  build:
    docker:
      - image: cimg/ruby:2.7.7
    executor: ruby/default
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: Tests
          command: ./bin/ci.sh
