<h3>Shopify Sinatra App</h3>
<p>Welcome!</p>

<h3>Products</h3>
<table class="table table-striped table-hover">
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <a href=<%="#{current_shop_url}/admin/products/#{product.id}"%> target="_blank"> <%= product.id %> </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
