<h3>Shopify Sinatra App</h3>
<p>Welcome!</p>

<h3>Products</h3>
<ul>
  <% @products.each do |product| %>
    <li><a href=<%="https://#{@shop.myshopify_domain}/admin/products/#{product.id}"%> target="_blank"> <%= product.id %> </a></li>
  <% end %>
</ul>

<a href="/logout">Logout</a>
