<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: "<%= ShopifyApp::API_KEY %>",
      shopOrigin: "<%= current_shop_url %>",
      debug: true
    });
  </script>

  <%= bootstrap_assets %>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
